---
import GitHub from '@/icons/Technologies/GitHub.astro'
import Chrome from '@/icons/Technologies/Chrome.astro'
import { PROJECTS } from '@/lib/Projects'

interface Props {
  project: (typeof PROJECTS)[number]
}

const { project } = Astro.props
---

<article class="card">
  <img src={project.url} alt={project.title} />
  <div class="card__content flex flex-col">
    <div class="flex-1">
      <p class="card__title">{project.title}</p>
      <span class="flex justify-center items-center gap-3 mt-3">
        {
          project.technologies.map((technologies) => (
            <div>
              <span
                class={`flex justify-center items-center font-extrabold ${technologies.class}`}
              >
                <technologies.icon class="size-4" />
              </span>
            </div>
          ))
        }
      </span>
      <p class="card__description">{project.text}</p>
    </div>
    <div>
      <span
        class={`text-xs sm:text-sm badge mt-3 ${project.badge === 'Completed' ? 'completed' : 'in-progress'}`}
      >
        {project.badge}
      </span>
    </div>
    <footer class="flex flex-row justify-center gap-5 mt-3">
      <a
        href={project.gh}
        aria-label="Repositorio del Proyecto en GitHub"
        target="_blank"
        class="hover:scale-125 transition ease-in-out duration-300"
      >
        <GitHub class="size-6" />
      </a>
      <a
        href={project.page}
        aria-label="Pagina del Proyecto"
        target="_blank"
        class="hover:scale-125 transition ease-in-out duration-300"
      >
        <Chrome class="size-6" />
      </a>
    </footer>
  </div>
</article>
