---
import Layout from '../layouts/Layout.astro'
import {PROJECTS} from '../lib/Projects'
import GitHub from '@/icons/Tecnologys/GitHub.astro'
import Chrome from '@/icons/Tecnologys/Chrome.astro'
import Container from '@/components/Container.astro'
---

<Layout title="Paginas de los proyectos que he realizado" description="">
    <Container>
        <section class="grids mt-5 text-center flex gap-5">
            {
            PROJECTS.map((project) => (
                <article class="relative before:absolute before:rounded-lg before:content before:bg-[var(--lineTop)] before:h-[5px] before:top-0 before:left-0 before:right-0 before:z-10
                after:absolute after:rounded-lg after:content after:bg-sky-500 after:h -[5px] after:bottom-0 after:left-0 after:right-0 after:z-10
                bg-[#D3D3D3] text-[#1d2029] overflow-hidden rounded-lg" >
        
                <div class="overflow-hidden hover:bg-gradient-to-b from-black">
                    <img class="h-44 w-full hover:scale-125 transition ease-in-out hover:animate-pulse object-center" src={project.url} alt=`Imagen de ${project.title}` />
                </div>
                    <div class="flex flex-col items-center text-balance p-5">
                        <h3 class="text-2xl font-black">{project.title}</h3>
                        <span class="flex justify-between items-center gap-3 mt-3">{
                            project.technologies.map((tecnology) => (
                            <span class={`flex flex-col justify-center items-center font-extrabold ${tecnology.class}`}>
                            <tecnology.icon class="size-5 hover:scale-125 transition cursor-crosshair icon"/>
        
                            </span>
                            ))}
                            </span>
                        <p class="mt-3 text-justify text-sm font-extralight">{project.text}</p>
        
                        </div>
                        <span class={`badge ${project.badge === "Completed" ? "completed" : "in-progress"}`}>{project.badge}</span>
                    <footer class="flex flex-row justify-center gap-5 mb-5">
                        <a href={project.gh} target="_blank">
                        <GitHub   class="h size-8 hover:scale-125 hover:filter hover:drop-shadow-lg transition cursor-pointer"/>
                        </a>
                        <a href={project.page} target="_blank">
                            <Chrome  class="h size-8 hover:scale-110 hover:filter hover:drop-shadow-lg hover:from-red-500 transition cursor-pointer "/>
                            </a>
                    </footer>
                </article>
            
            ))
            }
        
        </section>
    </Container>
</Layout>
<style is:global>
    .h:hover {
      filter: drop-shadow(0 0 6px rgba(0, 100, 100, 0.8));
    }
    .icon:hover {
      filter: drop-shadow(0 0 6px rgb(255, 155, 6));
    }
    .grids {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      gap: 20px;
    }
  
    .badge {
    display: inline-flex;
    border-radius: 10px;
    padding: 5px 7px;
    font-size: 10px;
    box-shadow: 1px 1px 5px #2df800;
    color: black;
    background-image: linear-gradient(110deg, #2df800, 45%, #ffffff, 55%, #2df800);
    background-size: 250% 100%;
    animation: backgroundAnimate 2s linear infinite;
    font-weight: bolder;
    margin-bottom: 15px;
  }

  @keyframes backgroundAnimate{
    from{
      background-position: 0 0;
    }
    to{
      background-position: 200% 0;
    }

}
  .in-progress {
    background-image: linear-gradient(110deg, #f6af35, 45%, #ffffff, 55%, #f6af35);
    color: black;
    box-shadow: 1px 1px 5px #f6af35;
  }
    
  </style>
  