---
import { PROJECTS } from '@/lib/Projects'
import Card from './projects/Card.astro'

interface Props {
  view: 'home' | 'more'
}

const { view } = Astro.props
---

<section class="grids my-4 text-center flex">
  {
    view === 'home'
      ? PROJECTS.slice(0, 4).map((project) => (
          // <article
          //   class="relative before:absolute before:rounded-lg before:content before:bg-[var(--lineTop)] before:h-[5px] before:top-0 before:left-0 before:right-0 before:z-10
          // after:absolute after:rounded-lg after:content after:bg-sky-500 after:h -[5px] after:bottom-0 after:left-0 after:right-0 after:z-10
          //  bg-[#D3D3D3] text-[#1d2029] overflow-hidden rounded-lg flex flex-col "
          // >
          //   <div class="overflow-hidden hover:bg-gradient-to-b from-black">
          //     <img
          //       class="h-44 w-full hover:scale-125 transition ease-in-out hover:animate-pulse object-center"
          //       src={project.url}
          //       alt={`Imagen de ${project.title}`}
          //     />
          //   </div>
          //   <div class="flex flex-col items-center text-balance p-5 flex-1">
          //     <h3 class="text-2xl font-black">{project.title}</h3>
          //     <span class="flex justify-between items-center gap-3 mt-3">
          //       {project.technologies.map((tecnology) => (
          //         <span
          //           class={`flex flex-col justify-center items-center font-extrabold ${tecnology.class}`}
          //         >
          //           <tecnology.icon class="size-5 hover:scale-125 transition cursor-crosshair icon" />
          //         </span>
          //       ))}
          //     </span>
          //     <p class="mt-3 text-justify text-sm font-extralight">
          //       {project.text}
          //     </p>
          //   </div>
          //   <div class="flex flex-col items-center text-balance p-5 ">
          //     <span
          //       class={`badge ${project.badge === 'Completed' ? 'completed' : 'in-progress'}`}
          //     >
          //       {project.badge}
          //     </span>
          //     <footer class="flex flex-row justify-center gap-5 mb-5 ">
          //       <a href={project.gh} target="_blank">
          //         <GitHub class="h size-8 hover:scale-125 hover:filter hover:drop-shadow-lg transition cursor-pointer" />
          //       </a>
          //       <a href={project.page} target="_blank">
          //         <Chrome class="h size-8 hover:scale-110 hover:filter hover:drop-shadow-lg hover:from-red-500 transition cursor-pointer " />
          //       </a>
          //     </footer>
          //   </div>
          // </article>
          <Card project={project} />
          // card
        ))
      : PROJECTS.map((project) => (
          // card
          <Card project={project} />
        ))
  }
</section>

<style is:global>
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    place-items: center;
    gap: 20px;
  }
  .badge {
    display: inline-flex;
    border-radius: 10px;
    padding: 5px 7px;
    font-size: 10px;
    box-shadow: 1px 1px 5px #2df800;
    color: black;
    background-image: linear-gradient(
      110deg,
      #2df800,
      45%,
      #ffffff,
      55%,
      #2df800
    );
    background-size: 250% 100%;
    animation: backgroundAnimate 2s linear infinite;
    font-weight: bolder;
  }
  .h:hover {
    filter: drop-shadow(0 0 6px rgba(0, 100, 100, 0.8));
  }
  .icon:hover {
    filter: drop-shadow(0 0 6px rgb(255, 155, 6));
  }

  @keyframes backgroundAnimate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  .in-progress {
    background-image: linear-gradient(
      110deg,
      #f6af35,
      45%,
      #ffffff,
      55%,
      #f6af35
    );
    color: black;
    box-shadow: 1px 1px 5px #f6af35;
  }

  /* //card */

  .card {
    position: relative;
    width: 440px;
    height: 270px;
    background: linear-gradient(-45deg, #e5ecec 0%, #cec072 100%);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  img {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .card:hover {
    transform: rotate(-2deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: linear-gradient(3deg, #c0bea5 0%, #cec072 100%);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }

  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }

  .card:hover img {
    scale: 0;
    transform: rotate(-45deg);
  }
</style>
