---
import GitHub from '@/icons/Tecnologys/GitHub.astro'
import Chrome from '@/icons/Tecnologys/Chrome.astro'
import { PROJECTS } from '../lib/Projects'
---

<section class="grids mt-5 text-center flex">
  {
    PROJECTS.slice(0, 3).map((project) => (
      <article
        class="relative before:absolute before:rounded-lg before:content before:bg-[var(--lineTop)] before:h-[5px] before:top-0 before:left-0 before:right-0 before:z-10
      after:absolute after:rounded-lg after:content after:bg-sky-500 after:h -[5px] after:bottom-0 after:left-0 after:right-0 after:z-10
       bg-[#D3D3D3] text-[#1d2029] overflow-hidden rounded-lg flex flex-col "
      >
        <div class="overflow-hidden hover:bg-gradient-to-b from-black">
          <img
            class="h-44 w-full hover:scale-125 transition ease-in-out hover:animate-pulse object-center"
            src={project.url}
            alt={`Imagen de ${project.title}`}
          />
        </div>
        <div class="flex flex-col items-center text-balance p-5 flex-1">
          <h3 class="text-2xl font-black">{project.title}</h3>
          <span class="flex justify-between items-center gap-3 mt-3">
            {project.technologies.map((tecnology) => (
              <span
                class={`flex flex-col justify-center items-center font-extrabold ${tecnology.class}`}
              >
                <tecnology.icon class="size-5 hover:scale-125 transition cursor-crosshair icon" />
              </span>
            ))}
          </span>
          <p class="mt-3 text-justify text-sm font-extralight">
            {project.text}
          </p>
        </div>
        <div class="flex flex-col items-center text-balance p-5 ">
          <span
            class={`badge ${project.badge === 'Completed' ? 'completed' : 'in-progress'}`}
          >
            {project.badge}
          </span>
          <footer class="flex flex-row justify-center gap-5 mb-5 ">
            <a href={project.gh} target="_blank">
              <GitHub class="h size-8 hover:scale-125 hover:filter hover:drop-shadow-lg transition cursor-pointer" />
            </a>
            <a href={project.page} target="_blank">
              <Chrome class="h size-8 hover:scale-110 hover:filter hover:drop-shadow-lg hover:from-red-500 transition cursor-pointer " />
            </a>
          </footer>
        </div>
      </article>
    ))
  }
</section>
<a
  href="/MoreProjects"
  class="my-2 flex justify-between items-center mx-auto group group-hover:before:duration-500 group-hover:after:duration-500 after:duration-500
     hover:border-gray-400 hover:before:[box-shadow:_20px_20px_20px_30px_#a21caf] duration-500 before:duration-500
      hover:duration-500 hover:after:-right-8 hover:before:right-12 hover:before:-bottom-8
       hover:before:blur origin-left border-[2px] border-slate-200 dark:border-slate-400 transition
        relative bg-[#012029] dark:bg-white dark:text-[#012029] h-10 w-52 border- text-left px-2 text-white text-base font-bold rounded-lg
        overflow-hidden before:absolute before:w-12 before:h-8 before:content[''] before:right-1 before:top-1
        before:z-10 before:bg-red-700 before:rounded-md before:blur-lg after:absolute after:z-10 after:w-20 after:h-8
         after:content[''] after:bg-yellow-400 after:right-8 after:top-1 after:rounded-full after:blur-lg"
>
  Ver Más...
</a>

<style is:global>
  .h:hover {
    filter: drop-shadow(0 0 6px rgba(0, 100, 100, 0.8));
  }
  .icon:hover {
    filter: drop-shadow(0 0 6px rgb(255, 155, 6));
  }
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
  }
  .badge {
    display: inline-flex;
    border-radius: 10px;
    padding: 5px 7px;
    font-size: 10px;
    box-shadow: 1px 1px 5px #2df800;
    color: black;
    background-image: linear-gradient(
      110deg,
      #2df800,
      45%,
      #ffffff,
      55%,
      #2df800
    );
    background-size: 250% 100%;
    animation: backgroundAnimate 2s linear infinite;
    font-weight: bolder;
    margin-bottom: 15px;
  }

  @keyframes backgroundAnimate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  .in-progress {
    background-image: linear-gradient(
      110deg,
      #f6af35,
      45%,
      #ffffff,
      55%,
      #f6af35
    );
    color: black;
    box-shadow: 1px 1px 5px #f6af35;
  }
</style>
