---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<!-- Google tag (gtag.js)
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RR7K6P0C5B"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RR7K6P0C5B");
    </script> --><!-- metadatos -->
<meta charset="utf-8" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="theme-color" content="#012029" />
<meta
  name="keywords"
  content="ingeniero, neider, informática, desarrollador, front-end"
/>
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- Global Metadata -->
<link rel="icon" type="image/svg+xml" href="img/LogoNeider.avif" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--ver la aplicación de diferentes resoluciones mobile, desktop, tablet -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="google" content="notranslate" />
<link rel="apple-touch-icon" href="img/LogoNeider.avif" />
<meta name="msapplication-TileColor" content="#012029" />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="website" />
<!-- <meta property="og:url" content={canonicalURL} /> -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="img/LogoNeider.avif" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="img/LogoNeider.avif" />
<meta name="twitter:image:alt" content={title} />
<meta name="twitter:site" content="@NeiderNieto10" />
<meta name="twitter:creator" content="@NeiderNieto10" />
